/* @tailwind base;
@tailwind components;
@tailwind utilities;

.play-button{
    visibility: hidden;
}

.play-button-container{
    transform: translate(0%, -100%);
    visibility: hidden;
}

.song-card:hover .play-button, .song-card:hover .play-button-container{
    visibility: visible;
}

.cover-img-link:hover .play-button, .cover-img-link:hover .play-button-container{
    visibility: visible;
}

.song-card:hover img{
    filter: brightness(0.5);
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
} */