@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter Regular';
  src: url('/app/fonts/Inter_18pt-Regular.ttf');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('/app/fonts/Inter_18pt-Bold.ttf');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('/app/fonts/Inter_18pt-Medium.ttf');
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('/app/fonts/Inter_18pt-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter Light';
  src: url('/app/fonts/Inter_18pt-Light.ttf');
}

@font-face {
  font-family: 'Inter Thin';
  src: url('/app/fonts/Inter_18pt-Thin.ttf');
}

@font-face {
  font-family: "Material Symbols Outlined";
  src: url("/fonts/MaterialSymbolsOutlined-Regular.woff2");
}

@font-face {
  font-family: "Material Symbols Outlined Filled";
  src: url("/fonts/MaterialSymbolsOutlined_Filled-Regular.woff2");
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-symbols-outlined-filled{
  font-family: 'Material Symbols Outlined Filled';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

:root {
  --mobile-content-offset: 328px;
  --desktop-content-offset: 228px;
  /* --mobile-web-offset: 392px; */
  --md-ref-typeface-brand: 'Inter';
  --md-ref-typeface-plain: system-ui;
  --md-sys-color-primary: rgb(87 100 33);
  --md-sys-color-surface-tint: rgb(87 100 33);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(218 234 152);
  --md-sys-color-on-primary-container: rgb(24 30 0);
  --md-sys-color-secondary: rgb(92 97 70);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(225 230 195);
  --md-sys-color-on-secondary-container: rgb(25 29 8);
  --md-sys-color-tertiary: rgb(58 102 93);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(189 236 224);
  --md-sys-color-on-tertiary-container: rgb(0 32 27);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(251 250 237);
  --md-sys-color-on-background: rgb(27 28 21);
  --md-sys-color-surface: rgb(251 250 237);
  --md-sys-color-on-surface: rgb(27 28 21);
  --md-sys-color-surface-variant: rgb(227 228 211);
  --md-sys-color-on-surface-variant: rgb(70 72 60);
  --md-sys-color-outline: rgb(119 120 106);
  --md-sys-color-outline-variant: rgb(199 200 184);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 41);
  --md-sys-color-inverse-on-surface: rgb(242 241 229);
  --md-sys-color-inverse-primary: rgb(191 206 127);
  --md-sys-color-primary-fixed: rgb(218 234 152);
  --md-sys-color-on-primary-fixed: rgb(24 30 0);
  --md-sys-color-primary-fixed-dim: rgb(191 206 127);
  --md-sys-color-on-primary-fixed-variant: rgb(64 76 10);
  --md-sys-color-secondary-fixed: rgb(225 230 195);
  --md-sys-color-on-secondary-fixed: rgb(25 29 8);
  --md-sys-color-secondary-fixed-dim: rgb(197 202 168);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 73 48);
  --md-sys-color-tertiary-fixed: rgb(189 236 224);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 27);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 196);
  --md-sys-color-on-tertiary-fixed-variant: rgb(33 78 69);
  --md-sys-color-surface-dim: rgb(219 219 206);
  --md-sys-color-surface-bright: rgb(251 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 244 231);
  --md-sys-color-surface-container: rgb(239 238 226);
  --md-sys-color-surface-container-high: rgb(234 233 220);
  --md-sys-color-surface-container-highest: rgb(228 227 215);
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: rgb(191 206 127);
  --md-sys-color-surface-tint: rgb(191 206 127);
  --md-sys-color-on-primary: rgb(43 52 0);
  --md-sys-color-primary-container: rgb(64 76 10);
  --md-sys-color-on-primary-container: rgb(218 234 152);
  --md-sys-color-secondary: rgb(197 202 168);
  --md-sys-color-on-secondary: rgb(46 51 27);
  --md-sys-color-secondary-container: rgb(68 73 48);
  --md-sys-color-on-secondary-container: rgb(225 230 195);
  --md-sys-color-tertiary: rgb(161 208 196);
  --md-sys-color-on-tertiary: rgb(4 55 47);
  --md-sys-color-tertiary-container: rgb(33 78 69);
  --md-sys-color-on-tertiary-container: rgb(189 236 224);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 215);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(228 227 215);
  --md-sys-color-surface-variant: rgb(70 72 60);
  --md-sys-color-on-surface-variant: rgb(199 200 184);
  --md-sys-color-outline: rgb(145 146 131);
  --md-sys-color-outline-variant: rgb(70 72 60);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 215);
  --md-sys-color-inverse-on-surface: rgb(48 49 41);
  --md-sys-color-inverse-primary: rgb(87 100 33);
  --md-sys-color-primary-fixed: rgb(218 234 152);
  --md-sys-color-on-primary-fixed: rgb(24 30 0);
  --md-sys-color-primary-fixed-dim: rgb(191 206 127);
  --md-sys-color-on-primary-fixed-variant: rgb(64 76 10);
  --md-sys-color-secondary-fixed: rgb(225 230 195);
  --md-sys-color-on-secondary-fixed: rgb(25 29 8);
  --md-sys-color-secondary-fixed-dim: rgb(197 202 168);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 73 48);
  --md-sys-color-tertiary-fixed: rgb(189 236 224);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 27);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 196);
  --md-sys-color-on-tertiary-fixed-variant: rgb(33 78 69);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(57 58 49);
  --md-sys-color-surface-container-lowest: rgb(14 15 8);
  --md-sys-color-surface-container-low: rgb(27 28 21);
  --md-sys-color-surface-container: rgb(31 32 25);
  --md-sys-color-surface-container-high: rgb(42 43 35);
  --md-sys-color-surface-container-highest: rgb(52 53 45);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--md-sys-color-on-surface);
  background: var(--md-sys-color-surface);
  /* overflow-y: hidden; */
  @apply sm:overflow-auto md:overflow-auto lg:overflow-y-auto;
  /* transition: all .5s ease-in-out; */
  /* font-family: 'Inter', 'Times New Roman', Arial, Helvetica, sans-serif; */
}

/* html, body{
  height: 100%;
} */

.body-button{
  height: 200vh;
}

@media (min-width: 768px){
  .center-scroll{
    overflow-y: scroll;
    max-height: calc(100vh - var(--desktop-content-offset));
  }
}

/* .center-scroll:hover{
  overflow-y: auto;
} */

::-webkit-scrollbar {
  width: 8px;
  border-radius: 9999px;
  z-index: 9999;
}

/* Track */
::-webkit-scrollbar-track {
  width: 8px;
  background: var(--md-sys-color-surface-container); 
  border-radius: 9999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* width: 4px; */
  background: var(--md-sys-color-outline-variant);
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 8px;
  background: var(--md-sys-color-outline);
}

h1{
  font-size: 2.5rem;
  font-weight: 900;
}

md-outlined-text-field {
  resize: vertical;
}

input[type="range"] {
  accent-color: var(--md-sys-color-primary);
  width: 100%;
  height: 4px;
  background: var(--md-sys-color-outline);
  border:0px;
  outline: none;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background: var(--md-sys-color-primary);
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--md-sys-color-primary);
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
  opacity: 1;
}

input[type="range"]::-moz-range-thumb:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb:active {
  opacity: 1;
}

input[type="range"]::-moz-range-thumb:active {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb:focus {
  opacity: 1;
}

input[type="range"]::-moz-range-thumb:focus {
  opacity: 1;
}

.icon-filled{
  font-family: 'Material Symbols Outlined Filled';
  /* font-variation-settings: 'FILL' 1; */
}

/* input[type="date"]{
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 4px;
  padding: 12px;
  color: var(--md-sys-color-on-surface);
  font-family: var(--md-ref-typeface-plain);
  font-size: 1rem;
  outline: none;
}

input[type="date"]:focus{
  background: var(--md-sys-color-surface-container-low);
}

input[type="date"]::placeholder{
  color: var(--md-sys-color-on-surface-variant);
} */

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

a{
  text-decoration: none;
  color: var(--md-sys-color-primary);
}

.horizontal-cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}

h2{
  font-size: 1.5rem;
  font-weight: 900;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
}